@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900,&display=swap');

@import url('reset.css');

body {
    font-family: 'Epilogue', sans-serif;
    color: #fff;
    min-width: 320px;
}
h1 {
    text-align: center;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: #28293E;

    display: flex;
    flex-direction: column;

}
main {
    flex-grow: 1;

}
[class*='__container'] {
    max-inline-size: 1200px;
    padding: 15px;
    margin: 0 auto;
}
header, footer {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
h1 {
    font-size: 32px;
    /* font-size: 72px; */
    padding: 15px 0;
    /* font-size: 72px; */
    font-weight: 800;
    margin-block-end: 20px;
}
header {
    margin-block-end: 50px;
    /* margin-block-end: 150px; */
}

.section-label {
    color: #EF6D58;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 3px;
}
.section-title {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    /* line-height: 1.14; */
    letter-spacing: -1px;

}

.section-button {
    border: 1px solid #fff;
    padding: 18px 30px 16px;
    border-radius: 6px;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.3s;
}
.section-button:hover {
    background-color: #404060;
    /* transform: scale(1.05); */
}

.task1-1 {
}
.portfolio {
    margin-block-end: 140px;
}
.portfolio p:first-child {
    margin-block-end: 54px;
    font-size: 42px;
    text-align: center;
    margin: 0 auto;
}
.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-label {
    margin-block-end: 17px;
}
.section-title {
    margin-block-end: 35px;
}
.portfolio__categories {
    margin-block-end: 30px;
    min-inline-size: 100%;
}
.portfolio__burger {
    /* display: none; */
}
.burger-p > {
    background-color: #fff;
}
.burger-p li:not(:last-of-type) {
    background-color: #fff;
    margin-block-end: 20px;
}
.burger-p__body {
    background-color: #FFFFFF;
    color: rgba(57, 20, 0, 0.64);
    border-radius: 6px; 
    padding: 9px 16px 7px; 
}
.burger-p__body > ul {
    display: none;
}
.burger-p:hover .burger-p__body > ul {
    display: block;
}
.burger-p__body > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger-p:hover .burger-p__body > div  {
    margin-block-end:18px;
}
.burger-p:hover img {
    transform: rotate(180deg);

}
.burger-p__arrow {
    padding: 5px;
    line-height: 0;
    cursor: pointer;
}
.portfolio__categories > ul {
    /* display: flex; */
    justify-content: space-between;
    row-gap: 40px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-inline-size: 574px;
    
    display: none;
}


.portfolio__categories > ul li a {
    line-height: 2;
    color: rgba(255, 255, 255, 0.64);

    transition: all 0.3s;
}
.portfolio__categories sub {
    font-size: 14px;
    line-height: 1.71;
}
.portfolio__images {
    margin-block-end: 64px;
}
.task1-1 .portfolio__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.portfolio__card {
    
}
.card {
    flex: 1 0 100%;
    /* aspect-ratio: 330 / 416; */
    /* max-block-size: 470px; */

    display: inline-flex;
    flex-direction: column-reverse;

    position: relative;
    overflow: hidden;
    /* border: 5px dashed #c00404; */
    border-radius: 6px;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.task1-1 .card {
    aspect-ratio: 330 / 416;
}
.card:last-child {
    display: none;
}
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5C2000;
    min-inline-size: 100%;
    min-block-size: 100%;
    opacity: 0.3181;
}
.card img {
    position: absolute;
    block-size: 100%;
    /* top: 0; */
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
.card__category {
    position: relative;
    z-index: 2;
    padding: 50px 28px;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: end;
}
.card__label {
    color: #391400;
    line-height: 2;
    padding: 5px 15px 1px;
    background-color: #fff;
    border-radius: 19px;
    margin-block-end: 24px;
    align-self: flex-start;
}
.card__name {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
}


.task1-2 .portfolio__images {
    inline-size: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}
.task1-2 .card{
    min-block-size: 416px;
}

.task2 {
    background-color: #FDF0E9;
    padding-top: 20px;

}
.task2 .portfolio > p {
    margin-block-end: 30px;
    color: #28293E;
}
.task2 .portfolio__container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.task2 .portfolio__categories > ul a {
    color: rgba(57, 20, 0, 0.64);
}

.task2 .burger-p {
    border: 1px solid #F3D1BF;
    border-radius: 6px;
}
.portfolio__images2 {
    margin-block-end: 80px;
    display: grid;
    gap: 30px;
    
    inline-size: 100%;
}
.portfolio__pages {
    display: flex;
    gap: 8px;
    /* box-shadow: 0px 0px 10px 1px #000; */
}
.portfolio__pages a {
    transition: all 0.3s;
    inline-size: 48px;
    block-size: 48px;
    background-color: #FFFFFF;
    color: #391400;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 6px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 1px #0000001d;
}
.portfolio__pages a:first-child {
    background-color: #EF6D58;
    color: #fff;
}
.task2 .card {
    aspect-ratio: 330 / 416;
}
.task2 .card img {
    /* inline-size: 100%; */
}

@media (any-hover: hover) {
    .portfolio__categories > ul a:hover {
        color: #fff;
    }
    .task2 .portfolio__categories > ul a:hover {
        color: #391400;
    }
    
    .card:hover {
        transform:  scale(1.04);
    }
    .portfolio__pages a:hover {
        transform:  scale(0.90);
    }
}

@media (min-width: 537.98px) {
    .task1-1 .card {
        flex: 1 0 40%;
        aspect-ratio: 470 / 416;
        max-block-size: 470px;
    }
    .card:last-of-type {
        display: inline-flex;
    }

    .portfolio__categories > ul {
        display: flex;
    }
    .portfolio__categories > ul li {
        transition: all 0.3s;
    }
    .portfolio__burger {
        display: none;
    }

    .task1-2 .portfolio__images {
        grid-template-columns: 1fr 1fr;
    }
    .task1-2 .card {
    }

    .task2 .portfolio__images2 {
        grid-template-columns: 1fr 1fr;
    }
    .task2 .card {
        aspect-ratio: 570 / 416;
    }
    
    .task2 .card:first-of-type {
        grid-column: 1 / span 2;
        aspect-ratio: 1170 / 720;
    }
    .task2 .card img {
        inline-size: 100%;
    }
}
@media (min-width: 879.98px) {
    .task1-1 .card:nth-child(4n+1),
    .task1-1 .card:nth-child(4n+4){
        flex: 0 1 40.17%;
        aspect-ratio: 470 / 416;

    }
    .task1-1 .card:nth-child(4n+2),
    .task1-1 .card:nth-child(4n+3){
        flex: 0 1 54%;
        aspect-ratio: 670 / 416;
    }
    .task1-1 .portfolio__images {
        inline-size: 100%;
    }
    

    .task1-2 .portfolio__images {
        /* grid-template-columns: 40.17% 17.09% 40.17%;
        grid-template-rows: 416px 416px; */
        grid-template-columns: minmax(200px, 470px) minmax(0px, 170px) minmax(200px, 470px);
        gap: 32px 30px;
        
        /* align-items: stretch; */
    }
    .task1-2 .card {
        
    }
    .task1-2 .card:nth-child(4n+1),
    .task1-2 .card:nth-child(4n+4) {
        /* aspect-ratio: auto; */
        /* aspect-ratio: 470 / 416; */
    }
    .task1-2 .card:nth-child(4n+2),
    .task1-2 .card:nth-child(4n+3) {
        grid-column: span 2;
        /* aspect-ratio: auto; */
        /* aspect-ratio: 670 / 416; */
    }
    
    .task2 .card__name {
        font-size: 56px;
    }
    
    
}