:root {
  --bg-color: #141414;
  --main-color: #999;
  --light-color-1: #fff;
  --light-color-2: #bfbfbf;
  --dark-color-1: #1f1f1f;
  --dark-color-2: #0f0f0f;
  --dark-color-3: #1a1a1a;
  --dark-color-4: #262626;
  --dark-color-5: #333;
  --dark-color-6: #202020;
  --accent-color: #e50000;
  --accent-dark-color: #990000;
  --accent-light-color: #ff4d4d;
}