@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap');

@import url('reset.css');

:root {
    --main-background-color: #fff;
    --main-title-color: #132238;
    --main-text-color: #556070;
    --menu-links-color: #333;
    --accent-color: #A53DFF;
    --accent-text-color: #fff;


}

/* *:not(a, li) {
    border: 1px dashed red;
} */

body {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    min-inline-size: 20rem;
    /* 320px */
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: var(--main-background-color);
    color: var(--main-text-color);

    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;

}

li a {
    border-bottom: 0.0625rem transparent solid;
    /* 1px */
    transition: all 0.3s;
}

[class*='__container'] {
    max-inline-size: 84.375rem;
    /* 1350px */
    min-inline-size: 20rem;
    /* 320px */
    padding: 0.9375rem;
    /* 15px */
    margin: 0 auto;


}

.header {
    margin-block-end: 7.875rem;
    /* 126px */
    inline-size: 100vw;
    position: relative;
    z-index: 4;
    background-color: var(--main-background-color);
}

.header__container {
    display: flex;
    gap: 4.375rem;
    /*70px*/
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-background-color);
}

.header__logo {}

.header__menu {
    flex: 0 1 45.125rem;
    /* 722px */

    display: flex;
    align-items: center;

}

.header__menu nav {
    flex: 0 1 38.1875rem;
    /* 611px */

}

.header__menu ul {}

.acсent-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    border-radius: 0.25rem;
    /*4px*/
    font-weight: 600;
    line-height: 1.5;
    padding: 0.75rem 1.5rem;
    /*12px 24px*/
    transition: all 0.2s;
}

.menu__list {
    /* width: 611px; */

    display: flex;
    align-items: center;
    gap: 0.9375rem;
    /* 15px */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.open-menu {
    inline-size: 50px;
    /*50px*/
    block-size: 50px;
    /*50px*/
    background-color: var(--accent-color);
    border-radius: 0.375rem;
    /*6px*/
    padding: 11px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* display: none; */
}


.open-menu span,
.open-menu::before,
.open-menu::after {
    block-size: 0.25rem;
    /* 4px */
    inline-size: 100%;
    background-color: var(--main-background-color);
    display: block;
    border-radius: 0.125rem;
    /* 2px */
    transition: all 0.3s;
}

.open-menu::before,
.open-menu::after {
    content: '';
}

.active body {
    overflow: hidden;
}


.active .open-menu span {
    inline-size: 0;
}

.active .open-menu::before {
    transform: rotate(45deg) translate(6px, 7px);
}

.active .open-menu::after {
    transform: rotate(-45deg) translate(6px, -7px);
}

.hero {
    margin-block-end: 200px;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 30px;

    position: relative;
    z-index: 0;
}

.hero__decor-el {
    position: absolute;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: rgba(218, 77, 241, 0.40);
    filter: blur(170px);
    inset-block-start: -400px;
    inset-inline-end: -250px;
    z-index: 2;
}

.hero__decor-el2 {
    position: absolute;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: rgba(196, 245, 233, 0.70);
    filter: blur(100px);
    inset-block-end: -200px;
    inset-inline-end: -250px;
    z-index: 2;
}

.hero__info-block {
    flex: 0 1 600px;
    position: relative;
    z-index: 3;
}

.info-block h1 {
    color: var(--main-title-color);
    font-size: 4.5rem;
    /* 72px */
    font-weight: 600;
    line-height: 1.16667;
    margin-block-end: 1.5rem;
    /* 24px */
}

.info-block p {
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 1.33333;
    margin-block-end: 24px;
}

.info-block__up {
    margin-block-end: 142px;
}

.inform-block {}

.info-block__down {
    display: flex;
    gap: 3px;
}

.info-block__down>div {
    flex: 1 1 200px;
    background-color: #F5EBFE;
    padding-block: 17px;

}

.info-block__value {
    text-align: center;
    /* margin-block-end: 8px; */

    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
}

.info-block__category {
    text-align: center;
    line-height: 1.5;
}

.hero__pic {
    flex: 0 1 536px;
    box-shadow: 0px 0px 20px 5px #13223811;
    border-radius: 25px;

    position: relative;
    z-index: 3;
}

.hero__pic img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
}

.introduction {
    position: relative;
}

.introduction__up {
    position: relative;
    /* background-color: aquamarine; */
    /* min-block-size: 620px; */
    /* max-block-size: 620px; */
    min-block-size: 600px;
    max-inline-size: 1350px;
    margin: 0 auto;
    /* block-size: 20%; */
    /* padding: 15%; */
}

.introduction__decor-el3 {
    position: absolute;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: #ffdfa8a2;
    filter: blur(100px);
    inset-block-end: -200px;
    inset-inline-start: -250px;
    z-index: 1;
}



.introduction__card {
    /* border: 1px dashed #000; */
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    max-inline-size: 1320px;
    inline-size: 95%;
    z-index: 3;
    box-shadow: 0px 0px 50px 15px #13223819;

    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    max-inline-size: 1320px;
    margin: 0 auto;
    padding: 112px;
    border-radius: 16px;
    background-color: var(--main-background-color);
}

/* .active .introduction__card {
    z-index: 3;
} */

.introduction__figure {
    flex: 0 1 424px;
    position: relative;
    z-index: 0;

}

.introduction__figure img {
    inline-size: 100%;
    border-radius: 10px;
}

.introduction__social-m {
    text-align: center;
    transform: translate(-50%, -40px);
    background-color: var(--main-background-color);
    position: absolute;
    inset-inline-start: 50%;
    z-index: 10;
}

.introduction__social-m ul {
    display: inline-flex;
    justify-content: center;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px 8px rgba(0, 0, 0, 0.088);
}

.introduction__social-m li {
    padding: 15px;
    border-radius: 4px;
    inline-size: 48px;
    block-size: 48px;
}

.introduction__social-m li:nth-child(4) {
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 4px;
}

.introduction__social-m img {
    inline-size: 100%;
    block-size: 100%;
    border-radius: 0;
    /* border: 1px solid black; */
}

.introduction__text {
    flex: 0 1 536px;
}

.introduction__text h2 {
    color: var(--main-title-color);
    font-size: 38px;
    font-weight: 600;
    line-height: 1.31;
    margin-block-end: 32px;
}

.introduction__text p {
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 1.33;
}

.introduction__text p:not(:last-child) {
    margin-block-end: 16px;
}

.introduction__text p:last-of-type {
    margin-block-end: 32px;
}

.introduction__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.introduction__buttons a {
    background-color: var(--accent-color);
    padding: 12px 24px;
    border-radius: 4px;
    color: var(--accent-text-color);
    font-weight: 600;
    line-height: 1.5;
}

.introduction__buttons button {
    color: var(--accent-color);
    padding: 11.5px 24px 11.5px 60px;
    border-radius: 4px;
    font-weight: 600;
    line-height: 1.5;
    border: 2px solid var(--accent-color);
    background-image: url('../img/icon/download-arrow.svg');
    background-repeat: no-repeat;
    background-position: 24px;
}

.introduction__down {
    background-color: #F0F1F3;
    position: relative;
    z-index: 2;


}



.down-introduction {}

.down-introduction__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-block: 140px;
    gap: 25px;
}

.down-introduction__text {
    flex: 0 1 529px;
}

.down-introduction__text h2 {
    color: var(--main-title-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 1.16;
    margin-block-end: 24px;
}

.down-introduction__text p {
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 1.33;
}

.down-introduction__text p:not(:last-child) {
    margin-block-end: 16px;
}

/* .down-introduction__tiles {
    flex: 0 1 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
}
    

.down-introduction__tiles article:nth-child(2n+2) {
    margin-block-start: 24px;
}

.down-introduction__tiles article {
    flex: 0 1 312px;
    aspect-ratio: 312/276;
} */
.down-introduction__tiles {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(10%, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* grid-template-rows: 1fr 1fr; */
    gap: 24px;
    inline-size: 100%;
    inline-size: 50%;
}

.down-introduction__tiles article:nth-child(2) {
    order: 3;
}

.down-introduction__tiles article:nth-child(3) {
    order: 2;
}

.down-introduction__tiles article:nth-child(4) {
    order: 4;
}

.down-introduction__tiles article:nth-child(4n+4),
.down-introduction__tiles article:nth-child(4n+3) {
    transform: translateY(24px);
}

.tile {
    padding: 32px;
    background-color: var(--main-background-color);
    border-radius: 12px;
}

.tile h3 {
    color: var(--main-title-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-block-end: 12px;
}

.tile p {
    max-inline-size: 248px;
}

.tile__image {
    inline-size: 72px;
    block-size: 72px;
    background-color: #F4EAFE;
    border-radius: 6px;
    background-image: url('../img/icon/introduction1.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-block-end: 32px;
}

.down-introduction__tiles article:nth-child(2) .tile__image {
    background-image: url('../img/icon/introduction2.svg');
}

.down-introduction__tiles article:nth-child(3) .tile__image {
    background-image: url('../img/icon/introduction3.svg');
}

.down-introduction__tiles article:nth-child(4) .tile__image {
    background-image: url('../img/icon/introduction4.svg');
}

.down-introduction__tiles article:first-of-type .tile__image {
    background-color: var(--accent-color);
}

.footer {}

.footer__container {}

@media (any-hover: hover) {
    li a:hover {
        border-bottom: 1.5px var(--main-text-color) solid;
        transition: all 0.4s;
    }

    .acсent-button:hover {
        transform: scale(1.03);
    }
}

@media (min-width: 63.9988em) {

    /* 1023.98px */
    .open-menu {
        display: none;
    }
}

@media (max-width: 55.8125em) {

    /* 893px */
    .header {
        margin-block-end: 4.75rem;
        /* 76px */
    }

    .hero__container {
        flex-direction: column;
        gap: 5rem;
        /* 80px */
    }

    .hero__pic {
        flex: 0 1 auto;
    }

    .info-block {
        flex: 0 1 auto;
    }

    .info-block__up {
        margin-block-end: 3.875rem;
        /* 62px */
    }

}

@media (max-width: 66.2488em) {

    /* 1059.98px */
    .down-introduction__container {
        padding-block-start: 28.125rem;
        /* 450px */
    }

    .down-introduction__tiles article:nth-child(2) {
        order: 2;
    }

    .down-introduction__tiles article:nth-child(3) {
        order: 3;
    }
}

@media (max-width: 42.4363em) {

    /* 678.98px */
    .introduction__card {
        padding-inline: 1.875rem;
        /* 30px */
    }

    .down-introduction__tiles {
        grid-template-columns: 1fr;
    }

    .down-introduction__tiles article {
        margin: 0 auto;
    }

    .down-introduction__container {
        padding-block-start: 34.375rem;
        /* 550px */
    }
}


@media (max-width: 66.2488em) {

    /* 1059.98px */
    .hero {
        margin-block-end: 6.25rem;
        /* 100px */
    }

    .introduction__card {
        align-items: center;
        flex-direction: column-reverse;
        gap: 3.125rem;
        /* 50px */
    }

    .introduction__text {
        flex: 0 1 auto;
    }

    .introduction__figure {
        flex: 1 0 6.25rem;
        /* 100px */
    }

    .introduction__up {
        min-block-size: 50rem;
        /* 800px */
    }

    .down-introduction__container {
        flex-direction: column;
    }

    .down-introduction__text {
        flex: auto;
    }

    .down-introduction__tiles {
        flex: auto;
        inline-size: 100%;
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
        /* 200px */
    }

    .down-introduction__tiles article:nth-child(4n+4),
    .down-introduction__tiles article:nth-child(4n+3) {
        transform: translateY(0);
    }
}

/* @media (max-width: 1209.98px) {
    .down-introduction__container {
        flex-direction: column;
    }

    .down-introduction__text {
        flex: auto;
    }

    .down-introduction__tiles {
        flex: auto;
    }

    .down-introduction__tiles article {}

    .down-introduction__tiles .tile {
        aspect-ratio: auto;
    }
} */

@media (max-width: 70.5em) {

    /* 1128px */
    .info-block h1 {
        font-size: 3.375rem;
        /* 54px */
    }
}

@media (max-width: 63.9988em) {
    /* .header__menu {
        flex: 0 0 auto;
    } */

    .header__container {
        gap: 1.875rem;
        /*30px*/
    }


    .header__menu {
        /* display: none; */
        flex-direction: column;
        gap: 2.5rem;
        /* 40px */
        position: fixed;
        z-index: 6;
        inline-size: 100%;
        block-size: 100%;
        inset-block-start: 5.375rem;
        /* 86px */
        inset-inline-start: 100%;
        background-color: #f4f4f4;

        padding: 3.75rem 3.75rem 9.125rem;
        /* 60px 60px 146px */
        transition: inset-inline-start 0.3s;
        overflow: auto;
    }

    .header__menu nav {

        flex: 0 0 auto;
    }

    .menu__contact-b {
        font-size: 1.375rem;
        /* 22px */
        padding: 15px 30px;
        /*12px 24px*/
        border-radius: 0.375rem;
        /* 6px */
    }

    .header__menu nav ul {
        flex-direction: column;
        gap: 40px;

        font-size: 2rem;
        /* 32px */
    }


    .active .header__menu {
        inset-inline-start: 0;
    }


}