@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900,&display=swap');

@import url('reset.css');

body {
    font-family: 'Epilogue', sans-serif;
    color: #fff;
}
h1 {
    text-align: center;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: #FDF0E9;
    color: rgba(57, 20, 0, 0.64);
    /* background-color: #28293E; */

    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
main {
    flex-grow: 1;

}
[class*='__container'] {
    max-inline-size: 1200px;
    padding: 15px;
    margin: 0 auto;
}
.dark-background {
    background-color: #28293E;
    color: #fff;

}
.header {

}
.header__container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.header__logo {
}
.header__menu {
    flex: 0 1 515px;
}
.menu-header {
}
.menu-header__button {
}
.menu-header__list {
}
.header__menu__contact-button {
}