@import url('https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');

@import url('reset.css');

.wrapper {
    min-block-size: 100%;
    overflow: hidden;
    background-color: #1E1B39;
}
.wrapper-game {
    min-block-size: 100%;
    /* inline-size: 1440px; */
    background-color: #1E1B39;
}
header {
    margin-block-end: 50px;
}

header,
footer {
    padding-block: 15px;
    height: 50px;
    background-color: #322c62;


}

h1,
footer *:first-child {
    color: #fff;
    text-align: center;
}


.task1 {
    font-family: "DM Sans", sans-serif;

}

.container1 {
    font-size: 0;
    padding-block: 80px;
    padding-inline: 15px;
    max-inline-size: 880px;
    margin: 0 auto;
    background-color: #fff;
    margin-block-end: 50px;
}

.container1 *:not(:last-child) {
    margin-block-end: 54px;
}

.article {
    max-inline-size: 630px;
    font-size: 24px;
    line-height: 1.75;
    color: #6E6C83;
    margin: 0 auto;
    padding-block: 21px;
}

.article *:not(:last-child) {
    margin-block-end: 8px;
}

.article p:first-of-type {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    color: #4A3AFF;
}

.article h2 {
    font-size: 42px;
    line-height: 1.28;
    font-weight: 700;
    color: #1E1B39;
}

.article h2::after {
    content: ' ';
    width: 45px;
    height: 45px;
    margin-inline-start: 8px;
    background-size: contain;
}

.article:first-of-type h2::after {
    background-image: url('../img/loupe.png');
}

.article:nth-child(2) h2::after {
    background-image: url('../img/laptop.png');
}

.article:nth-child(3) h2::after {
    background-image: url('../img/rocket.png');
}



.task2 {
    font-family: "DM Sans", sans-serif;
    margin-block-end: 50px;
}

.container2 {
    background-color: #fff;
    max-inline-size: 755px;
    margin: 0 auto;
    font-weight: 700;
    padding-inline: 15px;
    padding-block: 50px;
}

.article2 {
    max-inline-size: 543px;
    padding: 24px;
    margin: 0 auto;
    background-color: #F0F0F6;
    border-radius: 56px;

}

.price-block {
    max-inline-size: 525px;
    background-color: #4A3AFF;
    padding-inline: 15px;
    border-radius: 34px;
    text-align: center;
    color: #fff;
    padding-block: 45px;
    margin-block-end: 34px;
}

.price-block h3 {
    font-size: 30px;
    line-height: 1.07;
    margin-block-end: 2px;
}

.price-block p:not(:last-child) {
    margin-block-end: 8px;
}

.price-block p {
    font-size: 20px;
    line-height: 1.1;
    opacity: 0.6;
}

.price-block p:first-of-type {
    font-size: 116px;
    line-height: 1.04;
    opacity: 1;
}

.price-block p:first-of-type::before {
    content: '$';
}

.functionality-info {
    color: #1E1B39;
}

.functionality-info li {
    font-size: 28px;
    line-height: 1.36;
    margin-block-end: 26px;
    vertical-align: middle;
    /* padding-block-start: 5px; */
    /* margin-inline-start: 50px; */
}

.functionality-info li::before {
    content: "";
    block-size: 40px;
    inline-size: 36px;
    vertical-align: middle;
    background: url('../img/check-circle.png') 0 0 / contain no-repeat;
    margin-inline-end: 15px;
}

.functionality-info li:last-child {
    margin-block-end: 0px;
}



.task3 {
    background-color: #FDF0E9;
    padding-block: 68px;
}

.picture {
    text-align: center;
}

.picture img {
    max-inline-size: 970px;
    margin-block-end: 74px;
}

.text-section {
    max-inline-size: 570px;
    margin: 0 auto;
    color: rgba(57, 20, 0, 0.64);
    font-family: "Epilogue", sans-serif;
    line-height: 2;
    padding-inline: 15px;
}

.text-section h3 {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 700;
    color: #391400;
    margin-block-end: 35px;
}

/* .text-section p {
    margin-block-end: 34px;

} */
.text-section__intro p:first-of-type {
    font-size: 20px;
    line-height: 1.6;
    color: #391400;
    margin-block-end: 32px;
}

.text-section__promote p:first-of-type {
    margin-block-end: 34px;
}

.text-section__intro {
    margin-block-end: 51px;
}

.text-section__promote ul {
    margin-block-end: 32px;
}

.text-section__promote li {
    line-height: 2;
    color: #391400;
    vertical-align: middle;
}

.text-section__promote li::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #EF6D58;
    border-radius: 50%;
    margin-inline-end: 16px;
    vertical-align: middle;

}

.text-section__promote {
    margin-block-end: 65px;

}

.text-section__service p:first-of-type {
    margin-block-end: 28px;
}

.text-section__service li {
    list-style: decimal;
    color: #391400;
    line-height: 2;
    margin-inline-start: 18px;
}

.text-section__service ol {
    margin-block-end: 32px;
}

.text-section__service {
    margin-block-end: 69px;
}

.text-section__quote {
    background-color: #F9E5DA;
    padding: 32px;
    padding-block-start: 42px;
    border-radius: 6px;
}

/* .text-section__quote img {
    margin-inline-end: 32px;
    width: 48px;
    height: 36px;

} */
.text-section__quote p {
    font-size: 20px;
    line-height: 1.6;
    color: #391400;
    display: inline-block;
    max-inline-size: 422px;
    margin-inline-start: 80px;
}

.text-section__quote p::before {
    content: '';
    width: 48px;
    height: 36px;
    background-image: url('../img/quotation-marks.png');
    margin-inline-end: 32px;
    margin-inline-start: -80px;
    vertical-align: middle;
}

.text-section__quote {
    margin-block-end: 76px;
}

/* .text-section__ending {

} */

.game-link {
    color: #fff;
    text-align: center;
    font-family: 'Cambria', sans-serif;
    padding-block: 10px;
    max-inline-size: 150px;
    max-block-size: 45px;
    border-radius: 18px;
    border: 1px solid #fff;
    margin: 40px auto;
}
.game-link:hover {
    box-shadow: 0 0 20px fuchsia;
}
.game-link:active {
    box-shadow: 0 0 25px rgb(255, 148, 33);
}
.game-link:hover a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.game-link a {
    vertical-align: middle;
}


.game {
    background-color: #1E1B39;
    color: #fff;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    inline-size: 1024px;
    padding-block: 50px 100px;
    margin: 0 auto 50px;
}

.game h2 {
    text-align: center;
    padding: 20px;
    font-size: 80px;
}

.game p:first-of-type {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-block-end: 30px;
}
.game-area {
    border: 1px solid #fff;
    padding: 15px;
}
.game-area div {
    background-color: #ffffff;
    padding-block: 15px;
    margin-inline: 10px;
    visibility: hidden;
}

/* .game-area .path1:has(.start:hover) {
    visibility: visible;
} */
.game-area .start {
    border-radius: 50%;
    padding-block: 35px;
    max-width: 70px;
    margin: -10px auto;
    visibility: visible;
}

.game-area .path1 {
    max-inline-size: 50px;
    block-size: 100px;
    margin: auto;
}

.game-area .path2 {
    max-inline-size: 511px;
}

.game-area .path3 {
    max-inline-size: 35px;

}

.game-area .path4 {
    max-inline-size: 500px;
}

.game-area .path5 {
    max-inline-size: 20px;
    margin-inline-start: 490px;
}

.game-area .path6 {
    max-inline-size: 493px;
    margin-inline-start: 490px;
}

.game-area .path7 {
    max-inline-size: 40px;
    margin-left: 943px;
}

.game-area .path8 {
    max-inline-size: 1080px;
    margin-left: 10px;
    padding-block: 10px;
}

.game-area .path9 {
    max-inline-size: 80px;
    margin-left: 10px;
    padding-block: 30px;
}

.game-area .path10 {
    max-inline-size: 1420px;
    margin-left: 10px;
    padding-block: 8px;
}

.game-area .path11 {
    max-inline-size: 20px;
    margin-left: 963px;
    padding-block: 8px;
}

.game-area .path12 {
    max-inline-size: 740px;
    margin-left: 471px;
    padding-block: 15px;
}

.game-area .path13 {
    max-inline-size: 50px;
    block-size: 100px;
    margin: auto;
}

.game-area .finish {
    border-radius: 50%;
    padding-block: 35px;
    max-width: 70px;
    margin: -10px auto -10px;
}


.path:hover + .path,
.path:hover {
    visibility: visible;
    box-shadow: 0px 0px 60px fuchsia;
}

.finish:hover+p:last-of-type {
    display: block;
}

.finish:hover {
    background-color: rgb(255, 159, 255);
    /* padding-block: 40px;
    max-width: 80px; */
}

/* .game:has(.finish:hover)   {
    margin: 0 auto 350px;
} */
.game-area:has(.finish:hover) {
    padding-block-end: 285px;
}

.game-area p:last-of-type {
    display: none;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 60px rgb(247, 239, 103);
    margin-top: -420px;
}
.game-area p:last-of-type::before,
.game-area p:last-of-type::after {
    content: '';
    width: 100px;
    height: 110px;
    background-image: url('../img/fireworck.png');
    background-size: 100%;
    vertical-align: middle;
    margin-inline: 20px;
}

