@import url('https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900,&display=swap');

@import url('reset.css');

body {
    font-family: 'Epilogue', sans-serif;
    color: #fff;
    min-inline-size: 320px;
    /* overflow-x: hidden; */
}
h1 {
    text-align: center;
    font-size: 38px;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: #28293E;
    padding-inline: 10px;

    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
main {
    flex-grow: 1;
}
footer {
    text-align: center;
    padding: 15px;
}
li {
    display: inline-block;
}
[class*='__container'] {
    max-inline-size: 1200px;
    /* min-inline-size: 350px; */
    
    margin: 0 auto;
    margin-block-end: 124px;
}

.header {
    flex: 0 1 300px;
}
.header__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
}
.header__logo {
    flex: 0 1 152px
}
.header__menu {
    flex: 0 1 50px;
    /* max-inline-size: 515px; */
    font-size: 0;

    
}

/* .menu-header {
} */

/* .menu-header {
    transition: all 0.3s;
    inset-inline-start: 100%;
    inline-size: auto;
    block-size: auto;
} */
/* .open-menu .menu-header {
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;
    transform: translateX(0);
    background-color: #181925;
    flex-direction: column;
    gap: 50px;
    align-items: center;
} */

.menu-header__list {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-inline: 25px;

    display: none;
}
.menu-header__list a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}
.menu-button {
    border: 1px solid #676877;
    border-radius: 6px;
    inline-size: 48px;
    block-size: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.menu-button span {
    inline-size: 16px;
    block-size: 2px;
    border-radius: 1px;
    background-color: #fff;
}
.menu-button span,
.menu-button::after,
.menu-button::before {
    content: '';
    position: relative;
    inline-size: 16px;
    block-size: 2px;
    border-radius: 1px;
    background-color: #fff;
    
    transform: translateY(0px) rotate(0deg);
    transform-origin: center;
    transition: all 0.2s ease-in-out;
}




.contact-button {
    flex: 0 1 138px;

    text-align: center;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 18px 18px 16px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    
    display: none;
}



@media (any-hover: hover) {
    .menu-header__list a:hover {
        border-bottom: 1px solid #fff;
    }
    .contact-button:hover {
        transform:  scale(0.97);
    }
}
@media (max-width: 767.98px) {
    .open-menu .menu-button {
    
    }
    .open-menu .menu-button span {
        inline-size: 0;
        block-size: 0;
    }
    .open-menu .menu-button::before {
        transform: translateY(5px) rotate(45deg);
    }
    .open-menu .menu-button::after {
        transform: translateY(-5px) rotate(-45deg);
    }

    .menu-button {
        position: relative;
        z-index: 3;
    }
    .header__logo {
        position: relative;
        z-index: 4;
    }
    .menu-header {
        display: inline-flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        position: fixed;
        inset-inline-start: 100%;
        inset-block-start: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: #181925;

        transition: all 0.3s;
    }
    .open-menu .menu-header {
        inset-inline-start: 0;
        z-index: 2;
    }
    .open-menu .menu-header__list {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        /* align-items: center; */
        inline-size: 100%;
        /* position: absolute; */
        margin-inline: 0;
        padding-block-start: 120px;
    }
    .open-menu .menu-header__list a {
        font-size: 28px;
        font-weight: 400;
        color: #9a9aa0;
    }
    .open-menu .contact-button {
        display: inline;
        z-index: 6;
        flex: 0 1 auto;
        font-size: 22px;
        padding: 24px 38px 22px;
        color: #c1c0c0;
    }
    .open-menu .header__container > .contact-button {
        display: none;
    }
}
@media (min-width: 767.98px) {
    .wrapper {
        padding-inline: 15px;
    }
    .contact-button {
        display: inline-block;
        
    }
    .menu-header__list {
        flex: 0 1 530px;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 20px;
        justify-content: space-around;
        align-items: center;
        margin-inline: 25px;
    }
    .header__menu {
        flex: 0 1 515px;
        /* max-inline-size: 515px; */
        display: flex;
        justify-content: space-between;
    }
    .menu-button {
        display: none;
    }
    .menu-header .contact-button {
        display: none;
    }
}