@import url('https://fonts.googleapis.com/css?family=Manrope:500,600,700&display=swap');

@import url('reset.css');
* {
    /* border: 1px dashed #4b00ed; */
}
:root {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
body {
    min-width: 320px;
}
.wrapper {
    background-color: #141414;
    color: #fff;
    min-block-size: 100%;
    padding: 10px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    flex-grow: 1;
}
h1 {
    font-size: 32px;
    font-weight: 700;
}
header{
    margin-block-end: 40px;
    text-align: center;
}
footer {
    text-align: center;
}
[class*='__container'] {
    max-inline-size: 1500px;
}
.must-watch{
    margin-block-end: 170px;
}
.must-watch,
.genres {
    border: 1px solid #262626;
    border-radius: 12px;
    /* padding: 50px; */
}
.must-watch__container,
.genres__container {
    padding: 10px;
}
.must-watch__header,
.genres__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-block-end: 20px;
}
.must-watch__header h2,
.genres__header h2 {
    font-size: 22px;
    /* font-size: 38px; */
    font-weight: 700;
    line-height: 1.5;
    /* flex: 0 1 100%; */
}
.header-buttons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;

    background-color: #0F0F0F;
    border: 1px solid #1F1F1F;
    border-radius: 12px;
    padding: 15px;
    /* padding: 25px; */

    /* flex: 0 1 320px; */
    flex: 0 1 70px;
    /* margin: 0 auto; */

    /* display: none; */
}

.header-buttons__arr {
    background-color: #1A1A1A;
    border: 1px solid #1F1F1F;
    padding: 14px;
    border-radius: 8px;
}

.header-buttons__pages {
    display: flex;
    justify-content: center;
    gap: 3px;
    flex: 1 0 125px;
    min-inline-size: 80px;
}
.header-buttons__pages div {
    background-color: #333333;
    block-size: 4px;
    border-radius: 100px;
    flex: 1 0 17px;
}
.header-buttons__pages div:first-of-type {
    background-color: #E50000;
    block-size: 4px;
    border-radius: 100px;
    flex: 1 0 23px;
}
.header-buttons__total-pages {
}
.must-watch__body,
.genres__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.card-must-watch,
.card-genres {
    flex: 1 1 320px;
    max-width: 320px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 12px;
    padding: 10px;
    /* padding: 20px; */
}
.card-must-watch {
    flex: 1 1 320px;
}

.card-must-watch:last-of-type {
    display: none;
}
.card-must-watch > img {
    border-radius: 12px;
    max-inline-size: 320px;
    inline-size: 100%;
    object-fit: contain;
    margin-block-end: 20px;
    aspect-ratio: 320 / 404;
}
.card-must-watch__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: #999;
}
.card-must-watch__duration {
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    padding: 6px 10px;

    flex: 0 1 125px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.card-must-watch__duration div {
    display: inline-flex; 
    align-items: center;
    /* inline-size: 100%;
    max-inline-size: 66px; */
}
.card-must-watch__duration div::before {
    content: '';
    background-image: url('../img/task2/first-part/clock.svg');
    background-repeat: no-repeat;
    background-size: contain;
    block-size: 22px;
    inline-size: 22px;
    margin-inline-end: 5px;
    display: inline-block
}
.card-must-watch__rating {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: #141414;
    border: 1px solid #262626;
    border-radius: 51px;
    padding: 6px 10px;

    
}
.rating {
}
.rating__stars {
}
.rating__stars img {
    flex: 0 1 80px;
    inline-size: 100%;
    object-fit: contain;
    min-inline-size: 80px;

}
.rating__views {
    font-size: 14px;
}

/* ______________________________________________ */

.genres {
    padding-top: 20px;
    position: relative;
}
.genres::after {
    content: 'Shows';
    position: absolute;
    block-size: 50px;
    inline-size: 112px;
    background-color: #E50000;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    inset-block-start: -20px;
    inset-inline-start: 50px;
    padding: 11px 24px;
    cursor: pointer;
}
.genres__body {
    gap: 20px;
}
.card-genres {
    /* max-inline-size: 237px;
    inline-size: 100%; */
    flex: 0 1 264px;
    
    /* max-inline-size: 275.4px; */
    /* max-block-size: 342px; */

}
.card-genres:last-of-type{
    display: none;
}
.card-genres:nth-last-of-type(2){
    display: none;
}
.card-genres__collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    max-inline-size: 275px;
    margin-block-end: 2px;
    position: relative;
}
.card-genres__collage::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 101.79%);
    block-size: 100%;
    inline-size: 100%;
    border-radius: 10px;

}
.card-genres__collage img {
    flex: 1 1 105px;
    border-radius: 10px;
}
.card-genres__info {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.card-genres__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}







@media (min-width: 519.98px) {
    .wrapper,
    .card-must-watch,
    .card-genres {
        padding: 20px;
    }
    .must-watch__header h2,
    .genres__header h2 {
        font-size: 38px;
    }
    h1 {
        font-size: 52px;
    }
}


@media (min-width: 767.98px) {
    .card-must-watch:last-of-type,
    .card-genres:nth-last-of-type(2) {
        display: block;
    }
    .must-watch__header,
    .genres__header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .genres__container {
        padding: 20px;
    }
}


@media (min-width: 1023.98px) {
    .genres__body {
        padding-inline: 70px;
    }
}

@media (min-width: 1481.98px) {
    .must-watch__body,
    .genres__body {
        justify-content: space-between;
    }
    .genres__container,
    .must-watch__container {
        padding: 50px;
    }
    .card-genres:nth-last-of-type(1){
        display: block;
    }
    .genres__body {
        padding-inline: 0px;
    }
}