// @import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");

@import "_reset.scss";

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}
$main-background-color: #141414;
$main-title-color: #fff;
$main-text-color: #bfbfbf;

:root {
    --menu-links-color: #333;
    --accent-color: #a53dff;
    --accent-text-color: #fff;
}

body {
    font-family: "Manrope", sans-serif, sans-serif;
    min-inline-size: toRem(320);
    .active & {
        overflow: hidden;
    }
}

.wrapper {
    color: $main-title-color;
    background-color: $main-background-color;
    min-height: 100%;
    overflow: clip;
    /* background-color: #28293E; */

    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

[class*="__container"] {
    max-inline-size: toRem(1624);
    padding: toRem(15);
    margin: 0 auto;
}

@media (any-hover: hover) {
    .hover:hover {
        outline: 1px solid #ffffff76;
    }
}
.hover:active {
    outline: 4px solid #ffffffb0;
}
.card-collection__title a:active {
    transform: translateX(5px);
}
// .header {}

.header {
    // .header__container
    position: relative;
    // margin-block-end: 5dvh;
    margin-block-end: toRem(30);
    &__container {
        display: flex;
        gap: toRem(15);
        justify-content: space-between;
        align-items: center;
        block-size: 12svh;
        max-block-size: toRem(120);
    }

    // .header__logo

    &__logo {
        flex: 0 0 12.9554%;
        min-inline-size: toRem(165.83);
        & img {
            inline-size: 100%;
        }
        position: relative;
        z-index: 85;
    }

    // .header__menu

    &__menu {
        font-size: clamp(toRem(14), 1vw, toRem(18));
        flex: 0 0 38%;
        // min-inline-size: toRem(426);
        min-inline-size: toRem(520);

        border: toRem(4) solid #1f1f1f;
        border-radius: toRem(12);
        background-color: #0f0f0f;
        padding: toRem(10) toRem(16);
        & ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & li {
            padding: toRem(14) toRem(24);
            border-radius: toRem(8);
            color: $main-text-color;
            &.opened {
                background-color: #1a1a1a;
                color: $main-title-color;
            }
        }
        & a {
            font-size: inherit;
            font-family: "Manrope", sans-serif;
            line-height: 1.5;
        }
        @media (max-width: 56.2488em) {
            // display: none;
            // font-size: 28px;
            font-size: clamp(toRem(30), 5vw, toRem(48));
            position: fixed;
            z-index: 80;
            inset-block-start: 0;
            inset-inline-start: 100%;

            inline-size: 100%;
            min-inline-size: toRem(200);
            block-size: 100dvh;
            overflow: auto;
            border-radius: 0;

            transition: all 0.3s ease-in-out;
            & ul {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                gap: clamp(toRem(24), 8vw, toRem(42));
                transform: translateY(toRem(100));
                inline-size: 100%;
            }
            .active & {
                inset-inline-start: 0;
            }
        }
    }

    // .header__icons

    &__icons {
        flex: 0 0 6.148055%;
        display: flex;
        align-items: center;
        gap: toRem(14);
        justify-content: space-between;
        @media (max-width: 56.2488em) {
            display: none;
        }
    }

    // .header__search

    &__search {
        flex: 0 1 34.693877%;
        min-inline-size: toRem(24);
        & img {
            inline-size: 100%;
        }
    }

    // .header__menu-button

    &__menu-button {
        display: none;
        flex: 0 0 toRem(48);
        border-radius: toRem(8);
        border: toRem(3) solid #262626;
        // max-inline-size: 48px;
        max-block-size: toRem(48);
        min-block-size: toRem(48);
        block-size: 100%;
        background-color: #1a1a1a;
        position: relative;
        z-index: 85;
        @media (max-width: 56.2488em) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & div {
            inline-size: toRem(18);
            block-size: toRem(18);
            // position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & span {
                background-color: #fff;
                block-size: toRem(2);
                inline-size: 100%;
                border-radius: toRem(2);
                transition: all 0.3s ease-in-out;
            }
            &::before {
                content: "";
                background-color: #fff;
                block-size: toRem(2);
                inline-size: 100%;
                border-radius: toRem(2);
                transition: all 0.3s ease-in-out;
            }
            &::after {
                content: "";
                align-self: flex-end;
                background-color: #fff;
                block-size: toRem(2);
                inline-size: 50%;
                border-radius: toRem(2);
                transition: all 0.3s ease-in-out;
            }
            .active & span {
                inline-size: 0;
                transform-origin: center;
            }
            .active &::before {
                transform: translateY(toRem(8)) rotate(-45deg);
                transform-origin: center;
                // transform: ;
            }
            .active &::after {
                transform: translateY(toRem(-8)) rotate(45deg);
                transform-origin: center;
                inline-size: toRem(18);
            }
        }
    }

    // .header__notification

    &__notification {
        flex: 0 1 34.693877%;
        min-inline-size: toRem(24);
        & img {
            inline-size: 100%;
        }
    }
}

.hero {
    // .hero__container
    padding-inline: toRem(15);
    position: relative;
    margin-block-end: clamp(toRem(80), 11vw, toRem(200));

    &__container {
        background:
            linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%),
            url("../img/hero-back.webp") center / cover no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        // block-size: calc(100svh - 12svh - toRem(50));
        block-size: 83dvh;
        max-block-size: toRem(835);
        overflow: hidden;
        border-radius: toRem(12);
        &::after {
            content: "";
            position: absolute;
            inset-block-end: 0;
            background-color: #141414;
            // background-color: #ffffff26;
            // background-color: red;
            inline-size: 100%;
            max-inline-size: toRem(1624);
            block-size: toRem(5);
            transform: translateY(toRem(1));
        }
    }

    // .hero__info

    // &__info {
    // }

    // .hero__text

    &__text {
        text-align: center;
        inline-size: 87.5%;
        margin: 0 auto toRem(30);
        @media (max-width: 42em) {
            inline-size: 100%;
        }
        & h1 {
            font-size: clamp(toRem(24), 5vw, toRem(38));
            font-weight: 700;
            line-height: 1.5;
            margin-block-end: toRem(4);
        }
        & p {
            font-size: clamp(toRem(16), 2vw, toRem(18));
            font-weight: 500;
            line-height: 1.5;
            max-inline-size: toRem(1194);
            color: #999;
            @media (max-width: 42em) {
                display: none;
            }
        }
    }

    // .hero__button-block

    &__button-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        margin-block-end: toRem(50);
        & a {
            background-color: #e50000;
            border-radius: toRem(8);
            padding: toRem(14);
            // margin: 0 auto;
            inline-size: toRem(157);
            font-size: clamp(toRem(14), 4vw, toRem(18));
            font-weight: 600;
            line-height: 1.53;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: toRem(10);
            &::before {
                content: "";
                // display: inline-block;
                inline-size: toRem(24);
                block-size: toRem(24);
                background-image: url("../img/icon/hero-play-button-icon.svg");
                background-repeat: no-repeat;
                // background-size: toRem(24) toRem(24);
                // background-position: ;
            }
            @media (max-width: 42em) {
                inline-size: 100%;
                max-inline-size: toRem(310);
            }
        }
        & div {
            display: flex;
            gap: 10px;
            & button {
                inline-size: toRem(56);
                block-size: toRem(56);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #0f0f0f;
                border: 1px solid #262626;
                border-radius: toRem(8);
            }
        }
    }

    // .hero__carousel .carousel-h

    .carousel-h {
        // .carousel-h__left-b
        display: flex;
        justify-content: space-between;
        align-items: center;
        inline-size: 100%;
        &__left-b {
            inline-size: toRem(56);
            block-size: toRem(56);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0f0f0f;
            border: 1px solid #262626;
            border-radius: toRem(8);
        }

        // .carousel-h__pages

        &__pages {
            display: flex;
            justify-content: center;
            gap: toRem(3);
            & div {
                inline-size: toRem(16.33);
                block-size: toRem(4);
                border-radius: toRem(100);
                background-color: #333333;
            }
            & .opened {
                background-color: #e50000;
                inline-size: toRem(23);
            }
        }

        // .carousel-h__right-b

        &__right-b {
            inline-size: toRem(56);
            block-size: toRem(56);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0f0f0f;
            border: 1px solid #262626;
            border-radius: toRem(8);
        }
        @media (max-width: 50em) {
            display: none;
        }
    }
}

.content-sets {
    // .content-sets__container
    padding-block-start: toRem(18);

    &__container {
        padding: toRem(0) toRem(40) toRem(40);
        border: toRem(1) solid #262626;
        border-radius: toRem(12);
        @media (max-width: 75rem) {
        }
        @media (max-width: 50em) {
            padding: toRem(0) toRem(15) toRem(40);
            border: toRem(1) solid transparent;
        }
    }

    // .content-sets__header

    &__header {
        display: none;
        background-color: #0f0f0f;
        padding: clamp(toRem(8), 2vw, toRem(16));
        border-radius: toRem(8);
        border: 1px solid #262626;
        margin-block-end: toRem(50);
        & button {
            border-radius: toRem(8);
            padding: toRem(12) toRem(20);
            font-size: clamp(toRem(14), 4vw, toRem(24));
            inline-size: 49%;
            color: #999;
            &.active {
                color: #fff;
                background-color: #1f1f1f;
            }
        }
        @media (max-width: 50em) {
            display: block;
        }
    }

    // .content-sets__body

    // &__body {
    // }

    // .content-sets__label

    &__label {
        background-color: #e50000;
        inline-size: toRem(95);
        block-size: toRem(40);
        border-radius: toRem(6);
        font-weight: 600;
        line-height: 1.5;

        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(toRem(-18));
        @media (max-width: 50em) {
            display: none;
        }
    }

    // .content-sets__collection

    &__collection {
        &:not(:last-of-type) {
            margin-block-end: toRem(115.5);
        }
        .collection__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block-end: clamp(toRem(20), 4vw, toRem(50));
        }

        // .collection__title

        .collection__title {
            font-size: clamp(toRem(24), 5vw, toRem(38));
            font-weight: 700;
            line-height: 1.5;
        }

        // .collection__controls

        .collection__controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: toRem(5);
            inline-size: 15.8%;
            aspect-ratio: 257 / 88;
            background-color: #0f0f0f;
            border: toRem(1) solid #1f1f1f;
            border-radius: toRem(12);
            padding: clamp(toRem(12), toRem(14), toRem(16));
            @media (max-width: 75em) {
                inline-size: 22%;
            }
            @media (max-width: 50em) {
                display: none;
            }

            & .controls__left-b {
                inline-size: clamp(toRem(44), 21%, toRem(56));
                block-size: clamp(toRem(44), 21%, toRem(56));
                // inline-size: 21.789%;
                // block-size: 21.789%;

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1a1a1a;
                border: 1px solid #262626;
                border-radius: toRem(8);
            }

            // .controls__pages

            & .controls__pages {
                display: flex;
                justify-content: center;
                gap: toRem(3);
                inline-size: 32%;
                & div {
                    inline-size: toRem(16.33);
                    block-size: toRem(4);
                    border-radius: toRem(100);
                    background-color: #333333;
                }
                & .opened {
                    background-color: #e50000;
                    inline-size: toRem(23);
                }
            }

            // .controls__right-b

            & .controls__right-b {
                inline-size: clamp(toRem(44), 21%, toRem(56));
                block-size: clamp(toRem(44), 21%, toRem(56));

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1a1a1a;
                border: 1px solid #262626;
                border-radius: toRem(8);
            }
        }

        // .collection__body

        .collection__body {
            display: flex;
            justify-content: space-between;
            gap: toRem(16);
        }

        // .collection__card

        .card-collection {
            background-color: #1a1a1a;
            border: toRem(1) solid #262626;
            border-radius: toRem(10);
            inline-size: 18%;
            min-inline-size: toRem(181.6);
            // min-inline-size: toRem(141);
            // max-inline-size: toRem(223);
            padding: clamp(toRem(20), toRem(24), toRem(30));

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-block-end: toRem(20);
            @media (max-width: 75em) {
                inline-size: 23%;
            }
            // .card-collection__images
            &--big-card {
                inline-size: 23%;
                min-inline-size: toRem(231);
                @media (max-width: 75em) {
                    inline-size: 31%;
                }
            }
            &--single {
                padding: clamp(toRem(16), toRem(18), toRem(20));
            }
            &__images {
                position: relative;

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: toRem(4);
                max-inline-size: toRem(215.6);
                inline-size: 100%;
                &--big-tiles {
                    max-inline-size: toRem(292);
                }
                &--single {
                    max-inline-size: toRem(243.6);
                    display: block;
                    margin-block-end: toRem(20);
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    content: "";
                    inline-size: 100%;
                    block-size: 100%;
                    position: absolute;
                    z-index: 5;
                    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 101.79%);
                }
                &::before {
                    z-index: 6;
                    content: "";
                    position: absolute;
                    inset-block-end: 0;
                    background-color: #1a1a1a;
                    inline-size: 100%;
                    max-inline-size: toRem(1624);
                    block-size: toRem(3);
                    transform: translateY(toRem(1));
                }
            }

            // .card-collection__img

            &__img {
                position: relative;
                z-index: 0;

                aspect-ratio: 85.4 / 91;
                border-radius: toRem(6);
                overflow: hidden;
                & img {
                    block-size: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                &--big-tile {
                    aspect-ratio: 141 / 121;
                }
                &--single {
                    aspect-ratio: 243.6 / 281;
                }
                & img {
                    object-fit: cover;
                    inline-size: 100%;
                }
            }

            // .card-collection__title

            &__title {
                inline-size: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                & .label {
                    z-index: 7;
                    font-size: clamp(toRem(12), 1.8vw, toRem(16));
                    background-color: #e50000;
                    border-radius: toRem(5);
                    inline-size: clamp(toRem(50), 21vw, toRem(86));
                    block-size: toRem(32);
                    block-size: clamp(toRem(25), 8.46vw, toRem(32));
                    margin-block-end: toRem(4);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                & h3 {
                    font-size: clamp(toRem(16), 1.5vw, toRem(18));
                    font-weight: 600;
                    line-height: 1.5;
                }
                & a {
                    background: url("../img/icon/hero-carousel-right-arr.svg") center / 100% 100% no-repeat;
                    inline-size: toRem(15);
                    block-size: toRem(13.5);
                    cursor: pointer;
                    transition: all 0.1s;
                    &:hover {
                        background: url("../img/icon/hero-carousel-right-arr-active.svg") center / 100% 100% no-repeat;
                    }
                }
                & .bordered {
                    display: flex;
                    align-items: center;

                    border: 1px solid #262626;
                    border-radius: toRem(51);
                    background-color: #141414;

                    font-size: clamp(12px, 1vw, 16px);
                    font-weight: 500;
                    line-height: 1.5;
                    color: #999;
                    padding: 0.833vw 0.833vw 0.833vw 2.3vw;
                    padding: clamp(toRem(4), 0.833vw, toRem(6));
                    padding-left: clamp(toRem(26), 2.3vw, toRem(32));
                    &:first-child {
                        // inline-size: 45.966%;
                        background: url("../img/icon/time.svg") clamp(4px, 0.5vw, 6px) / clamp(20px, 1.3vw, 24px)
                            no-repeat;
                    }
                    &:last-child {
                        // inline-size: 22.566%;
                        // padding: toRem(12) toRem(10) toRem(12) toRem(32);
                        background: url("../img/icon/views.svg") clamp(4px, 0.5vw, 6px) / clamp(20px, 1.3vw, 24px)
                            no-repeat;
                    }
                }
            }
            @media (max-width: 75em) {
                &:last-child {
                    display: none;
                }
            }
        }
        .controls-mob {
            background-color: #333333;
            block-size: toRem(5);
            inline-size: toRem(80);
            border-radius: toRem(20);
            margin: 0 auto;
            @media (min-width: 50em) {
                display: none;
            }
            &__item {
                background-color: #e50000;
                block-size: toRem(5);
                inline-size: toRem(20);
                border-radius: toRem(20);
            }
        }
    }
}
